# Prerequisites
*.d
*.suo
*.db

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Files
*.opendb
*.vspx
*.psess

# LaTeX Files
*.aux
*.lot
*.lof
*.pdf
*.blg
*.bbl
*.log
*.synctex.gz
*.toc

# Code::Blocks Files
*.layout
*.user

# Performance Profiling
perf.data

# Directories
/.vs
*/bin
/Objects
*/Debug
*/x64
